h2{
  margin: 0;     
  color: #666;
  padding-top: 90px;
  font-size: 52px;
  font-family: "trebuchet ms", sans-serif;    
}
.item{
  background: #333;    
  text-align: center;
  height: 300px !important;
}
.carousel{
  margin-top: 20px;
}
.bs-example{
  margin: 20px;
}
.navbar-custom {
  background-color:#229922;
  color:#ffffff;
  border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
  color: #1C590C;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: black;
  background-color:transparent;
}
.navbar-custom .navbar-brand {
  color: #1C590C;
}

.myButton{
  border-radius:30%;
  border:2px solid #336666;
  color:#336666;
  font-family:Garamond;
  font-weight:bold;
}

#tomorrowButton{
  position:fixed;
  right: 3%;
  top: 50%;

}

#yesterdayButton{
  position:fixed;
  left: 3%;
  top: 50%;

}

tr, td {
  border: 2px solid black;
  text-align:center;

}

.mainTable{
  height:800px;

}

.mainSection{
  height:500px;
  width:48%;
  border: 2px solid black;
  display: inline-block;
  text-align: center;
  background-color: #B1F2BA;
  font-family:Garamond;
  font-size:20px;

}