body {
    background: -webkit-linear-gradient(green, #006400); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(green, #006400); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(green, #006400); /* For Firefox 3.6 to 15 */
    background: linear-gradient(green, #006400); /* Standard syntax */
    background-attachment: fixed;
	border-radius: 5px;
	margin-bottom: 33px;
	font-size: 0.8em;
}

td {
	font-size:18pt;
}

form table {
	float:left; 
	margin-right:20px;
}

#addSuggSubmit {
	border-radius: 3px; 
	border-width: 1px; 
	text-align: center;
	margin-left: 40px; 
	width:120px;
}

#addSuggTextbox {
	margin-left: 20px;
	height:30px;
	font-size:13pt;
}

#queryTextbox {
	display:block;
	margin: 0 auto;
	height:30px;
	font-size:14pt;
}
#querySubmit {
	display:block;
	margin: 0 auto; 
	width:160px;
}

#refreshSubmit {
	font-size:20pt;
	width:10em;
	height:5em;
}

.lastEdit{
	font-size:12pt;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

.titlebar {
	position: fixed;
	top: 0;
	left: 0;
	padding-bottom: 10px;
	margin-bottom: -10px;
	background: inherit;
	width: 100%;
	min-width: 1050px;
}

.titlebar a {
	text-decoration: none;
	color: white;
}

#main_title {
	position: relative;
	color: #003C00;
	font-size: 1em;
	font-family: verdana;
	margin-bottom: 0;
	margin-top: 10px;
	margin-left: 30px;
	padding-bottom: 0;
	background-color: #006400;
	display: inline-block;
	font-weight: normal;
	border-radius: 15px;
}
#main_title a {
	color: white;
	font-size: 4em;
	font-family: courier;
	margin: 0;
	padding-left: 4px;
	padding-right: 4px;
	display: inline;
}
#main_title a:hover {
	background-color: #005000;
	border-radius: 15px;
}
#nav_links {
	color: white;
	position: relative;
	float: right;
	font-size: 1.3em;
	margin-top: 13px;
	right: 25px;
}
#nav_links ul {
	font-family: verdana;
}
#nav_links li {
	display: inline;
	padding: 3px;
}
#nav_links li a:hover {
	text-decoration: underline;
}
#nav_links li + li::before {
	font-size: 1.2em;
    content: " | ";
}

.content {
	background-color: white;
	height: 100%;
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 0;
	margin-bottom: 30px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	min-height: 450px;
	padding-left: 20px;
	padding-top: 100px;
}

.content .indent-bold {
	margin-left: 20px;
	background-color: #e6e6e6;
	display: inline-block;
}

.webpage {
	width: 90%;
	height: 100%;
}

.events {
	height: 100%;
}
.events a {
	text-decoration: none;
	color: black;
}
.events #today,#tomorrow,#upcoming {
	color: #aeaeae;
	font-size: 1.5em;
	padding-top: 0;
	margin-top: 10px;
	font-family: verdana;
	margin-bottom: 0;
	font-weight: normal;
	text-decoration: none;
	display: block;
}
.events #today:hover, #tomorrow:hover,#upcoming:hover {
	color: #666666;
}

.events-tomorrow, .events-upcoming {
	display: none;
}

.events .title, .events .in-progess, .events .locations {
	font-family: courier;
	font-size: 1.5em;
}

.events .locations {
	color: red;
}

.events ul {
	list-style-type: none;
	margin: 0;
}
.events li {
	padding: 10px;
}

.events .highlight .title:hover, .events .highlight #event-location:hover {
	cursor: pointer;
	cursor: hand;
	text-decoration: underline;
}

.events .highlight ul {
	font-family: courier;
	font-size: 1.5em;
}

.events .highlight .subject {
	font-style: italic;
		color: #555555;
}

.events .highlight .host {
	background-color:#e6e6e6;
}

.content h2 {
	font-size: 1.8em;
	font-family: verdana;
	padding-top: 0;
	margin-top: 0;
}

.content p {
	font-size: 1.4em;
	font-family: verdana;
}

.footer {
	position: relative;
	left: 10px;
	padding-top: 10px;
	bottom: 0;
	color: green;
	font-family: courier;
	font-size: 1.5em;
}

.error {
	font-family: verdana;
	font-size: 1.3em;
	color: red;
}

#loading-left-text {
	font-family: verdana;
	font-size: 1.2em;
	color: grey;
	margin-top: 50px;
	margin-left: 30px;
}

#facebookG{
	margin-top: 20px;
	margin-left: 43px;
	width:30px;
}

.facebook_blockG{
background-color:#218F2E;
border:1px solid #245718;
float:left;
height:21px;
margin-left:1px;
width:6px;
opacity:0.1;
-moz-animation-name:bounceG;
-moz-animation-duration:1.2s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(0.7);
-webkit-animation-name:bounceG;
-webkit-animation-duration:1.2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(0.7);
-ms-animation-name:bounceG;
-ms-animation-duration:1.2s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(0.7);
-o-animation-name:bounceG;
-o-animation-duration:1.2s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(0.7);
animation-name:bounceG;
animation-duration:1.2s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(0.7);
}

#blockG_1{
-moz-animation-delay:0.36s;
-webkit-animation-delay:0.36s;
-ms-animation-delay:0.36s;
-o-animation-delay:0.36s;
animation-delay:0.36s;
}

#blockG_2{
-moz-animation-delay:0.48s;
-webkit-animation-delay:0.48s;
-ms-animation-delay:0.48s;
-o-animation-delay:0.48s;
animation-delay:0.48s;
}

#blockG_3{
-moz-animation-delay:0.6s;
-webkit-animation-delay:0.6s;
-ms-animation-delay:0.6s;
-o-animation-delay:0.6s;
animation-delay:0.6s;
}

@-moz-keyframes bounceG{
0%{
-moz-transform:scale(1.2);
opacity:1}

100%{
-moz-transform:scale(0.7);
opacity:0.1}

}

@-webkit-keyframes bounceG{
0%{
-webkit-transform:scale(1.2);
opacity:1}

100%{
-webkit-transform:scale(0.7);
opacity:0.1}

}

@-ms-keyframes bounceG{
0%{
-ms-transform:scale(1.2);
opacity:1}

100%{
-ms-transform:scale(0.7);
opacity:0.1}

}

@-o-keyframes bounceG{
0%{
-o-transform:scale(1.2);
opacity:1}

100%{
-o-transform:scale(0.7);
opacity:0.1}

}

@keyframes bounceG{
0%{
transform:scale(1.2);
opacity:1}

100%{
transform:scale(0.7);
opacity:0.1}

}