<!DOCTYPE html>
<html>
	<head>

		{% if title %}
    	<title>{{title}} - Dartmouth Calendar</title>
    	{% else %}
    	<title>Dartmouth Calendar</title>
    	{% endif %}
    	
    	<meta charset="utf-8" />

		<link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
		<link rel="shortcut icon" type="image/ico" href="../static/Dlogo.jpg" />
		<script src="../static/js/jquery.min.js"></script>

		<!-- Magnific Popup core CSS file -->
		<link rel="stylesheet" href="../static/css/magnific-popup.css"> 
	</head>
	<body>
		<div class="titlebar">
		<div id="main_title"><a href="/index">DARTMOUTH CALENDAR</a> </div>
		<div id="nav_links" style="background-color: inherit">
		<ul>
		<li><a href="add_event">Add Event</a></li>
		<li><a href="unsubscribe">Unsubscribe from ListServ</a></li>
		<li><a href="faq">FAQ</a></li>
		<li><a href="about">About</a></li>
		</ul>
		</div>
<!-- 		<h2>&ldquo;the blitz machine&rdquo;</h2>
 -->	</div>
 		<div class="content">
 		<div class="webpage">
		{% block content %}{% endblock %}
		</div>
		</div>
		<div class="footer">

</div>

<!-- Magnific Popup core JS file -->
<script src="../static/js/magnific-popup.min.js"></script> 
</body>
</html>