{% extends "base.html" %}

{% block content %}
<h2>Frequently Asked Questions</h2>
<p><em>What does Dartmouth Calendar do?</em></p>
<p class="indent-bold">Gathers campus-wide blitzes into an easy to understand calendar.</p>
<p><em>Why would I use it?</em></p>
<p class="indent-bold">No more sorting through the 9,000 blitzes you get every day.</p>
<p><em>Okay, I've stopped reading all of those blitzes and now just come here. How do I stop receiving those blitzes anyway?</em></p>
<p class="indent-bold">Click "Unsubscribe to ListServ" above.</p>
{% endblock %}