{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<script>
$(document).ready(function() {
$('.highlight').magnificPopup({
  delegate: 'a', // child items selector, by clicking on it popup will open
  type: 'iframe'
  // other options
});
});	
  $('#divtagdefaultwrapper').contents().find('#someID').html();

</script>
		<div class="events">
		<h2>The Blitz Machine</h2>
	<a href="#today1" id="today">{% if is_day == False %}tonight{% else %}today{% endif %}</a>
	<div class="events-today">
		<ul class="highlight">
		{% for category in categories %}
			{% if today_cat_freq[category] > 0 %}
			{% set printed = 0 %}
			<li><span class="title" id="title-today-{{ category}}"><b>{{ category }}:</b> {{ today_cat_freq[category] }} event{{ 's' if today_cat_freq[category] != 1 else '' }}</span> <span class="locations">
			{% for event in events %}{% if event['category'] == category and event['date_event'] == 'today' %}{% if printed == 0 %}(<span id="event-location">{{nicknames[event['from']].strip()}}</span>{% else %}, <span id="event-location">{{ nicknames[event['from']] }}</span>{% endif %}{% if printed + 1 == today_cat_freq[category] %}){% endif %}{% set printed = printed + 1 %}{% endif %}{% endfor %}</span>
			<ul id="expanded-today-{{ category }}" {% if today_total_events > 4 %}style="display: none"{% endif %}>
			{% for event in events %}
			{% if event['category'] == category and event['date_event'] == 'today' %}
			<li><a href="ajax/getEventHTML?from={{ nicknames[event['from']]}}&url={{ event['html']}}"><span class="host">{{ event['time_event'] }} {{nicknames[event['from']]}}:</span> <span class="subject">{{event['subject']}}</span></a></li>
			{% endif %}
			{% endfor %}
			</ul>
			</li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
	<a href="#tomorrow1" id="tomorrow">tomorrow</a>
	<div class="events-tomorrow">
				<ul class="highlight">
		{% for category in categories %}
			{% if tomorrow_cat_freq[category] > 0 %}
			{% set printed = 0 %}
			<li><span class="title" id="title-tomorrow-{{ category}}"><b>{{ category }}:</b> {{ tomorrow_cat_freq[category] }} event{{ 's' if tomorrow_cat_freq[category] != 1 else '' }}</span> <span class="locations">
			{% for event in events %}{% if event['category'] == category and event['date_event'] == 'tomorrow' %}{% if printed == 0 %}(<span id="event-location">{{nicknames[event['from']]}}</span>{% else %}, <span id="event-location">{{ nicknames[event['from']] }}</span>{% endif %}{% if printed + 1 == tomorrow_cat_freq[category] %}){% endif %}{% set printed = printed + 1 %}{% endif %}{% endfor %}</span>
			<ul id="expanded-tomorrow-{{ category }}" {% if tomorrow_total_events > 4 %}style="display: none"{% endif %}>
			{% for event in events %}
			{% if event['category'] == category and event['date_event'] == 'tomorrow' %}
						<li><a href="ajax/getEventHTML?from={{ nicknames[event['from']]}}&url={{ event['html']}}"><span class="host">{{ event['time_event'] }} {{nicknames[event['from']]}}:</span> <span class="subject">{{event['subject']}}</span></a></li>
			{% endif %}
			{% endfor %}
			</ul>
			</li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
	<a href="#upcoming1" id="upcoming">upcoming</a>
	<div class="events-upcoming">
		<ul class="highlight">
		{% for category in categories %}
			{% if upcoming_cat_freq[category] > 0 %}
			{% set printed = 0 %}
			<li><span class="title" id="title-upcoming-{{ category}}"><b>{{ category }}:</b> {{ upcoming_cat_freq[category] }} event{{ 's' if upcoming_cat_freq[category] != 1 else '' }}</span> <span class="locations">
			{% for event in events %}{% if event['category'] == category and event['date_event'] == 'upcoming' %}{% if printed == 0 %}(<span id="event-location">{{nicknames[event['from']]}}</span>{% else %}, <span id="event-location">{{ nicknames[event['from']] }}</span>{% endif %}{% if printed + 1 == upcoming_cat_freq[category] %}){% endif %}{% set printed = printed + 1 %}{% endif %}{% endfor %}</span>
			<ul id="expanded-upcoming-{{ category }}" {% if upcoming_total_events > 4 %}style="display: none"{% endif %}>
			{% for event in events %}
			{% if event['category'] == category and event['date_event'] == 'upcoming' %}
						<li><a href="ajax/getEventHTML?from={{ nicknames[event['from']]}}&url={{ event['html']}}"><span class="host">{{ event['time_event'] }} {{nicknames[event['from']]}}:</span> <span class="subject">{{event['subject']}}</span></a></li>
			{% endif %}
			{% endfor %}
			</ul>
			</li>
			{% endif %}
		{% endfor %}
		</ul>
	</div>
</div></div>
<script>
$( "#tomorrow" ).click(function() {
  $(".events-today").hide(0);
  $(".events-tomorrow").show(300);
  $(".events-upcoming").hide(0);
});
$( "#today, #today-sidebar" ).click(function() {
  $(".events-today").show(300);
  $(".events-tomorrow").hide(0);
  $(".events-upcoming").hide(0);
});
$( "#upcoming, #upcoming-sidebar" ).click(function() {
  $(".events-today").hide(0);
  $(".events-tomorrow").hide(0);
  $(".events-upcoming").show(300);
});
{% if today_total_events > 4 %}
$( "#title-today-Greek" ).click(function() {
  $("#expanded-today-Greek").show(300);
  $("#expanded-today-Social").hide(0);
  $("#expanded-today-Sports").hide(0);
  $("#expanded-today-Misc").hide(0);
});
$( "#title-today-Social" ).click(function() {
  $("#expanded-today-Greek").hide(0);
  $("#expanded-today-Social").show(300);
  $("#expanded-today-Sports").hide(0);
  $("#expanded-today-Misc").hide(0);
});
$( "#title-today-Sports" ).click(function() {
  $("#expanded-today-Greek").hide(0);
  $("#expanded-today-Social").hide(0);
  $("#expanded-today-Sports").show(300);
  $("#expanded-today-Misc").hide(0);
});
$( "#title-today-Misc" ).click(function() {
  $("#expanded-today-Greek").hide(0);
  $("#expanded-today-Social").hide(0);
  $("#expanded-today-Sports").hide(0);
  $("#expanded-today-Misc").show(300);
});
{% endif %}
{% if tomorrow_total_events > 4 %}
$( "#title-tomorrow-Greek" ).click(function() {
  $("#expanded-tomorrow-Greek").show(300);
  $("#expanded-tomorrow-Social").hide(0);
  $("#expanded-tomorrow-Sports").hide(0);
  $("#expanded-tomorrow-Misc").hide(0);
});
$( "#title-tomorrow-Social" ).click(function() {
  $("#expanded-tomorrow-Greek").hide(0);
  $("#expanded-tomorrow-Social").show(300);
  $("#expanded-tomorrow-Sports").hide(0);
  $("#expanded-tomorrow-Misc").hide(0);
});
$( "#title-tomorrow-Sports" ).click(function() {
  $("#expanded-tomorrow-Greek").hide(0);
  $("#expanded-tomorrow-Social").hide(0);
  $("#expanded-tomorrow-Sports").show(300);
  $("#expanded-tomorrow-Misc").hide(0);
});
$( "#title-tomorrow-Misc" ).click(function() {
  $("#expanded-tomorrow-Greek").hide(0);
  $("#expanded-tomorrow-Social").hide(0);
  $("#expanded-tomorrow-Sports").hide(0);
  $("#expanded-tomorrow-Misc").show(300);
});
{% endif %}
{% if upcoming_total_events > 4 %}
$( "#title-upcoming-Greek" ).click(function() {
  $("#expanded-upcoming-Greek").show(300);
  $("#expanded-upcoming-Social").hide(0);
  $("#expanded-upcoming-Sports").hide(0);
  $("#expanded-upcoming-Misc").hide(0);
});
$( "#title-upcoming-Social" ).click(function() {
  $("#expanded-upcoming-Greek").hide(0);
  $("#expanded-upcoming-Social").show(300);
  $("#expanded-upcoming-Sports").hide(0);
  $("#expanded-upcoming-Misc").hide(0);
});
$( "#title-upcoming-Sports" ).click(function() {
  $("#expanded-upcoming-Greek").hide(0);
  $("#expanded-upcoming-Social").hide(0);
  $("#expanded-upcoming-Sports").show(300);
  $("#expanded-upcoming-Misc").hide(0);
});
$( "#title-upcoming-Misc" ).click(function() {
  $("#expanded-upcoming-Greek").hide(0);
  $("#expanded-upcoming-Social").hide(0);
  $("#expanded-upcoming-Sports").hide(0);
  $("#expanded-upcoming-Misc").show(300);
});

{% endif %}
</script>
{% endblock %}