<html>
    <head>
        <title>Quickly</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
        <script src="../static/js/jquery.min.js" type="text/javascript"></script>
        <script src="../static/js/sorttable.js" type="text/javascript"></script>
        <script src="../static/js/jquery-sortable.js" type="text/javascript"></script>
        <script src="../static/js/quickly4.js" type="text/javascript"></script>
    </head>
    <body onload="recountCheckboxes();">
        <div>
            <form action="/search" method="post" onsubmit="return validateForm()" name="queryForm">
            <input type="text" value="{{ query }}" name="query" autocomplete="off" size="80" id="queryTextbox">
            <br>
            <input type="submit" align="center" value="Quickly Search" id="querySubmit">
            </form>
        </div>

        <p id="chromeLog" style="font-size:20pt;"></p>

        <div>
            <form action="/update?query={{ query }}" method="post" name="refresh">
                <input type="submit" onClick="refreshPage()" value="Update" id="refreshSubmit">
            </form>
            <input type="button" onClick="checkAll()" value="Check All">
            <input type="button" onClick="uncheckAll()" value="Uncheck All">
            <input type="button" onClick="clearHighlighting()" value="Clear Highlighting">
            <font style="font-family:verdana"> * Checked boxes will remain approved. Unchecked boxes will be rejected.</font>
            <p id="total-accepted" style="font-size:18pt;font-family:verdana"></p>
        </div>

        <div frame="box" style="float:left;display:block; margin-left:50px;">
            <p id="drag-log"></p>
        </div>

        <div style="clear:left">
            <table style="margin-left:30px; margin-right:20px">
                <thead>
                    <tr align="center" height="50">
                        <td width="500"><b>Approved</b></td>
                        <td width="505"><b>Rejected</b></td>
<!--                         <td width="275"><b>Wikipedia</b></td>
                        <td width="275"><b>Coca</b></td> -->
                    </tr>
                </thead>
            </table>
        </div>

        <form>
            <div>
                <table id="prodTable" frame="box" class="sorted_table sortable" style="margin-left:30px;">
                    <thead>
                        <tr align="center" height="50">
                            <td width="50">Rank</td>
                            <td width="250">Phrase</td>
                            <td width="60">Search</td>
                            <td width="100">Last Edit</td>

                        </tr>
                    </thead>
                    <tbody>
                        {% for result in data %}
                            <tr class="draggable" align="center" height="50" id="{{ result.id }}">
                                <td width="50">{{ result.newRank }} </td>
                                <td id="prod-sugg-{{ result.id }}" width="250">{{ result.suggestion }}</td>
                                <td width="60">
                                    <input type="button" onclick="openNewTab({{ result.id }}, 1);" value="Google">
                                </td>
                                <td style="font-size:12pt;" width="100">{{ result.lastEdit }} </td>
                                <td width="20">
                                      <input type="checkbox" id="prod-check-{{ result.suggestion }}" name="production" value="{{ result.id }}" onclick="recountCheckboxes({{ result.id }});" checked><br>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table frame="box" class="sorted_table sortable">
                    <thead>
                        <tr align="center" height="50">
                            <td width="50">Rank</td>
                            <td width="250">Phrase</td>
                            <td width="60">Search</td>
                            <td width="100">Last Edit</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in non_prod_data %}
                            <tr class="draggable" align="center" height="50" id="{{ result.id }}">
                                <td width="50">{{ result.newRank }} </td>                           
                                <td id="cand-sugg-{{ result.id }}" width="250">{{ result.suggestion }} </td>
                                <td width="60">
                                    <input type="button" onclick="openNewTab({{ result.id }}, 0);" value="Google">
                                </td>
                                <td style="font-size:12pt;" width="100">{{ result.lastEdit }} </td>
                                <td width="30">
                                      <input type="checkbox" id="cand-{{ result.suggestion }}" name="non-production" value="{{ result.id }}"><br>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- <table frame="box" class="sorted_table sortable" style="float:left; margin-right:20px">
                    <thead>
                        <tr align="center" height="50">
                            <td width="50">Rank</td>
                            <td width="180">Phrase</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in data %}
                            <tr class="draggable" align="center" height="50">
                                <td width="50">{{ result.googleAvgRank }} </td>
                                <td width="180">{{ result.suggestion }} </td>
                                <td width="20">
                                      <input type="checkbox" id="wiki-{{ result.suggestion }}" name="wiki" value="{{ result.suggestion }}"><br>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table frame="box" class="sorted_table sortable" style="float:left; margin-right:20px">
                    <thead>
                        <tr align="center" height="50">
                            <td width="50">Rank</td>
                            <td width="180">Phrase</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in data %}
                            <tr class="draggable" align="center" height="50">
                                <td width="50">{{ result.googleAvgRank }} </td>
                                <td width="180">{{ result.suggestion }} </td>
                                <td width="20">
                                      <input type="checkbox" id="coca-{{ result.suggestion }}" name="coca" value="{{ result.suggestion }}"><br>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table> -->
            </div>
        </form>

        <div style="float:right;">
            <form action="/update?query={{ query }}" method="post" name="addSuggestion">
            <input type="text" name="add" id="add_sugg" autocomplete="off" size="30" id="addSuggTextbox">
            <br><br>
            <input type="submit" onClick="addSuggestionFunc()" align="center" id="addSuggSubmit" value="Add Suggestion">
            </form>
        </div>

        <div id="query" style="clear:left">{{ query }} </div>

        <div>
            {% for result in data %}
                {{ result.suggestion }}<br>
            {% endfor %}
        </div>

        <script>
        // Sortable rows
        var oldIndex;
        var entry = "";

        $('.sorted_table').sortable({
          containerSelector: 'table',
          itemPath: '> tbody',
          itemSelector: 'tr',
          placeholder: '<tr class="draggable"/>',
          onDragStart: function (item, group, _super) {
            //item.appendTo(item.parent())
            _super(item)
          },
          onDrop: function  (item, container, _super) {
            var table = document.getElementById('prodTable');
            var newIndex = item.index() + 1;
            var movedRow = table.rows[newIndex];

            _super(item)
            movedRow.style.backgroundColor = '#FFCC80';
          }
        })
        </script>
    </body>
</html>