// filter-container.scss
// This file contains all of the styles for the filter container

//Imports
@import "./segmented-controls.css";
@import "./variables.scss";

.filter {
  width: 30%;
  display: inline-block;
}

#filter-container {
  height: 40px;
  width: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  @include flex-box;
  @include flex-space-around;
  @include flex-align-center;
}

#filter-btn {
  display: inline-block;
  background-color: orange;
  float: right;
}

.date-filter, .category-filter {
  margin-top:30px;
  margin-bottom: 30px;
  margin-right: 200px;
  width:100%;
  @include flex-space-around;
  @include flex-box;
}

.time-filter {
  margin-top:50px;
  margin-bottom: 30px;
  margin-right: 200px;
  width:300%;
}

.category-filter {
  color: #008000;
  height: 30px;
}

.segmented-control {
  &:hover {
    background-color: #ccffcc;
    opacity: .5;
  }
}

//over-writing an issue with the rc-slider stylesheet
.rc-slider-step {
  margin: 0;
}

.multiselect {
  width: 80%;
  cursor: pointer;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxes-dropdown {
  width: 100%;
  height:100px;
  border: 1px #dadada solid;
  overflow: auto;
  overflow-y: scroll;
}

.checkboxes-dropdown label {
  display: block;
  cursor: pointer;
}

.checkboxes-dropdown label:hover {
  background-color: #B8B8B8;
}
