//style.scss

//Imports
@import "./variables.scss";
@import "./add_event.scss";
@import "./event_list.scss";
@import "./input_field.scss";
@import "./user-profile.scss";
@import "./upload_image.scss";
@import "./event-page.scss";
@import "./filter-container.scss";
@import "./comment.scss";
@import "./segmented-controls.css";

html, body {
  font-family: 'Roboto', 'Old Standard TT', 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

hr {
    border: 0;
    border-bottom: 1px solid $light-grey;
    padding: 0;
}


#main, .app-container {
  height: inherit;
  min-width: 768px;
}

.app-container {
  background-color: white;
}

// Top Navigation Bar
#nav-bar {
  background-color: white;
  color: $green;
  font-size: 30pt;
  height: $nav-bar-height;
  line-height: $nav-bar-height;
  position: relative;
  padding: 0 15px;
  box-shadow: 0px 5px 10px -5px black;
  -webkit-box-shadow: 0px 5px 10px -5px black;
  -moz-box-shadow: 0px 5px 10px -5px black;

  @include flex-space-between;
  @include flex-box;
  @include flex-align-center;

  // This is (currently) the dartmap logo in the nav bar
  h1 {
    display: inline-block;
    position: relative;
    left: 8px;
  }

  // This is (currently) the user's name from facebook in the nav bar
  h2 {
    color: #337ab7;
    font-size: 15pt;
    margin-bottom: 0;
    margin: initial;
    line-height: $nav-bar-height;
    right: 8px;
  }

  #logo {
    height: $nav-bar-height;
    width: $nav-bar-height;
  }
}

.nav-wrapper .mappit img {
    height: 64px;
}

.nav-wrapper h1{
  height: 64px;
}

.nav-menu-right{
  position: relative;
  display: inherit;
  right: 20px;
}

.nav-btn {
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 0;

  &:hover, &:focus {
    color: black;
    outline: none;
  }
}

.fb-user {
  background-color: #3b5998;
  border: 0px;
  color: white;
  font-family: 'Lucida Grande';
  font-size: 12px;
  height: $nav-bar-height/2;
  line-height: $nav-bar-height/2;
  vertical-align: middle;
  width: 140px;
  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}

.user-menu {
  position: relative;
  right: 70px;
  top: -10px;
  background-color: white;
  box-shadow: 0px 0px 5px #000000;
  color: black;
  font-family: 'Roboto', 'Old Standard TT', 'Times New Roman', Times, serif;
  font-size: 10pt;
  width: 140px;
  z-index: 20;
  &:hover {
    cursor: pointer;
  }
}

.user-menu-item-container {
  width: 100%;
  &:hover {
    background-color: $light-grey;
    cursor: pointer;
    text-decoration: none;
  }
}

.user-menu-item-text {
  padding-left: 8px;
}

#user-link {
  display: inline-block;
  font-size: 10pt;
}

#fb-pic {
  border: 1px solid #ddd;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #000000;
  height: 36px;
  width: 36px;
}

.user-nav-btn {
  width: 140px;
  height: $nav-bar-height - 5px;
  background-color: white;
  border: 0;
  padding: 0;
  &:focus {

  }
}

.nav-menu-container {
  width: 140px;
  height: $nav-bar-height;
  display: inline-block;
  position: relative;
  left: 15px;
}

// This is (currently) the add event button
.add-event-plus {
  background-color: white;
  border: 1px solid;
  border-radius: 20px;
  float: right;
  font-size: 20pt;
  height: 100%;
  line-height: 100%;
  margin-bottom: 10px;

  &:hover {
    background-color: $light-grey;
    cursor: pointer;
  }
}

// Button for a user to delete an event
.user-delete-event {
  background-color: #BD1919;
  border: 1px solid;
  /*border-radius: 20px;*/
  /*float: right;*/
  text-align: center;
  font-size: 18pt;
  height: 100%;
  line-height: 100%;
  /*margin-bottom: 10px;*/

  &:hover {
    background-color: #FF0000;
    cursor: pointer;
  }
}

// Button for a user to change the location of an event
.user-change-event-location {
  background-color: #23ABD9;
  border: 1px solid;
  /*border-radius: 20px;*/
  /*float: right;*/
  text-align: center;
  font-size: 8pt;
  height: 100%;
  line-height: 100%;
  /*margin-bottom: 10px;*/

  &:hover {
    background-color: #00BFFF;
    cursor: pointer;
  }
}

// Button for a user to edit an event
.user-edit-event {
  background-color: #00B800;
  border: 1px solid;
  /*border-radius: 20px;*/
  /*float: right;*/
  text-align: center;
  font-size: 18pt;
  height: 100%;
  line-height: 100%;
  /*margin-bottom: 10px;*/

  &:hover {
    background-color: #00FF00;
    cursor: pointer;
  }
}

#plus {
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

// This is the div that encompasses everything that is not in the navigation bar
.home-container {
  height: 90%;
  background-color: white;
}

// Map Components
#map {
  float: left;
  padding: 5px;
  box-shadow: inset 0px 0px 10px rgba(0,0,0,0.8);
}

.mapAndButton {
  width: 75%;
  height: 65%;
  margin: 16px;
  position: relative;
  display: inline-block;
}

.geoButton {
  position: absolute;
  top: 10px;
  right: 10px;
}

.map-event-img {
  height: 20px;
  width: 20px;
  position: relative;
  z-index: 13;
}

.popup-icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

#event-menu {
  font-family: 'Roboto', 'Old Standard TT', 'Times New Roman', Times, serif;
  float: right;
  width: 20%;
  height: 100%;
  overflow: scroll;
  padding-right: 16px;
  padding-top: 16px;

  .location-not-selected {
    display: none;
  }
}

#user-event-menu {
  font-family: 'Roboto', 'Old Standard TT', 'Times New Roman', Times, serif;
  float: center;
  width: 80%;
  height: 100%;
  overflow: scroll;
  padding-left: 10%;
  padding-top: 16px;

  .location-not-selected {
    display: none;
  }
}

.warning-msg {
  background-color: white;
}

#search-bar {
  width: 100%;
  background-color: white;
}

#user-search-bar {
  width: 30%;
  background-color: white;
}

.highlight {
  background-color: #fffd77;
}

#event-none {
  float: right;
  width: 20%;
  height: 100%;
  overflow: scroll;
  background-color: white;
  text-align: center;
  padding-right: 16px;
  padding-top: 16px;
}

// Event List Components
#event-menu #event-banner {
  border-bottom: thin solid black;
   .event-banner-item {
    float: left;
    padding-left: 16px;
  }
}

.event-item {
  background-color: white;
  border-bottom: thin solid black;
  height: 100%;
  padding-left: 8px;
  padding-top: 8px;
  width: 100%;
  font-size: 15px;

  &:hover {
    background-color: $light-grey;
    cursor: pointer;
  }
}

.user-event-item {
  background-color: white;
  border-bottom: thin solid black;
  height: 100%;
  padding-left: 8px;
  padding-top: 8px;
  width: 100%;
  font-size: 15px;
}

.uspg-map {
  width: 35%;
  height: 200px;
  float: right;
}

.popup {
  font-family: 'Roboto', 'Old Standard TT', 'Times New Roman', Times, serif;
  font-size: 1rem;
  background-color: white;
  border: 1px solid;
  border-color: $green;
  box-shadow: 0 0 8px 2px #888;
  color: black;
  padding: 5px;
  position: relative;
  width: 350px;
  z-index: 15;
  @include flex-box;
  @include flex-column;
}

.description {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#test-button {
  position: absolute;
  top: 10px;
}

// Location Dialog
#location {
  border: 5px solid black;
  position: center;
  background-color: white;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0px 0px 20px black;
}

#close-button {
  position: absolute;
  right: 20px;
  top: 5px;
  &:hover {
    color: #DC143C;
    cursor: pointer;
  }
}

.page-slider {
  @include flex-space-around;
  @include flex-box;
}

.icon-select {
  height: 30px;
  margin-bottom: 30px;
  @include flex-box;
}

// Generic Classes
.hidden {
  display: none;
}

.date-display {
  background-color: $green;
  color: white;
  position: relative;
  text-align: center;
}

.user-date-display {
  background-color: #878787;
  color: white;
  position: relative;
  text-align: center;
}

.name {
  font-size: 13.1pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.atrribute {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.error-msg {
  color: red;
}

.error-box {
  border-color: red;
}

.close-button {
  align-self: flex-end;
  align-self: -webkit-flex-end;
  align-self: -moz-flex-end;
  &:hover {
    color: #DC143C;
    cursor: pointer;
  }
}

.Modal {
  border: 5px solid black;
  position: absolute;
  text-align: center;
  top:40%;
  left:40%;
  width: 20%;
  height: 20%;
  background-color: white;
  padding: 30px;
  border-radius: 50px;
  min-width: 200px;

  input {
    max-width: 100%;
  }
}
