$green: #008000;
$event-item-color: #d1d1e0;
$light-grey: #d1d1e0;

// Imports
@import "../node_modules/react-datetime/css/react-datetime.css";

html, body, #main {
  height: 100%;
  margin: 0;
  padding: 0;
}

.hidden{
  display: none;
}

#nav-bar {
  background-color: $green;
  color: white;
  font-family: 'Old Standard TT';
  font-size: 30pt;
  height: 50px;
  padding-left: 10px;
  position: relative;

  h1 {
    display: inline-block;
  }

  button {
    float: right;
    height: 50px;
  }
}

#banner #map-title {
  position: absolute;
  bottom: 2px;
  left: 8px;
}

#event-menu {
  float: left;
}

#map {
  float: left;
}

.mapImage {
  width: 100%;
  height: 100%;
  position: absolute;
  // cursor: url(../images/cursor.png) 15 15, pointer;
}

#event-menu {
  float: left;
  width: 20%;

  .location-not-selected {
    display: none;
  }
}

#event-menu #event-banner {
  border-bottom: thin solid black;
   .event-banner-item {
    float: left;
    padding-left: 16px;
  }
}

#event-menu .event-item {
  background-color: $event-item-color;
  border-bottom: thin solid black;
  height: 100px;
  padding-left: 8px;
  padding-top: 8px;
  width: 100%;

  &:hover {
    background-color: #b3b3cb;
    cursor: pointer;
  }
}

.popup {
  background-color: $event-item-color;
  padding: 5px;
}

#test-button {
  position: absolute;
  top: 10px;
}

#filter-container {
  width: 80%;
  float: left;
  display: block;
  #filter-btn {
    display: inline-block;
    background-color: orange;
    float: right;
  }
}

#add-event {
  border: 10px solid black;
  height: 80%;
  width: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: white;
  border-radius: 50px;
  .addEventForm input, .addEventForm textarea {
    width: 50%;
    
  }
  .formBoxError {
    border-color: red;
  }
  .errorMessage {
    color: red;
    display: inline-block;
  }
  .invalidNextBtn {
    background-color: $light-grey;
  }
  .validNextBtn {
    background-color: $green;
  }
}
