$green: #008000;
$event-item-color: #d1d1e0;
$light-grey: #d1d1e0;
$K_SIZE: 40px;
$red: #f44336;
$blue: #3f51b5;

// Imports
@import "../node_modules/react-datetime/css/react-datetime.css";
@import "../node_modules/rc-slider/assets/index.css";

// Mixins
@mixin event-style {
  position: absolute;
  width: $K_SIZE;
  height: $K_SIZE;
  left: -$K_SIZE / 2;
  top: -$K_SIZE / 2;

  border-radius: $K_SIZE;
  background-color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 4px;
  cursor: pointer;
}

@mixin flex-box {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
}

@mixin flex-space-around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  @include flex-box;
}

html, body {
  font-family: 'Old Standard TT', 'Times New Roman', Times, serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#main, .app-container {
  height: inherit;
  min-width: 768px;
}

// Top Navigation Bar
#nav-bar {
  background-color: $green;
  color: white;
  font-size: 30pt;
  height: 10%;
  padding-left: 10px;
  position: relative;

  // This is (currently) the dartmap logo in the nav bar
  h1 {
    display: inline-block;
    position: relative;
    bottom: 2px;
    left: 8px;
  }

  // This is (currently) the add event button
  button {
    float: right;
    height: 100%;
  }
}

// This is the div that encompasses everything that is not in the navigation bar
.home-container {
  height: 90%;
}

// Map Components
#map {
  float: left;
}

.event {
  border: 5px solid $red;
  color: $blue;
  @include event-style;

  &:focus {
    outline: none;
  }
}

.event-hover {
  border: 5px solid $blue;
  color: $red;
  @include event-style;

  &:focus {
    outline: none;
  }
}

#event-menu {
  float: right;
  width: 20%;
  height: 100%;
  overflow: scroll;

  .location-not-selected {
    display: none;
  }
}

// Event List Components
#event-menu #event-banner {
  border-bottom: thin solid black;
   .event-banner-item {
    float: left;
    padding-left: 16px;
  }
}

#event-menu .event-item {
  background-color: $event-item-color;
  border-bottom: thin solid black;
  height: 100px;
  padding-left: 8px;
  padding-top: 8px;
  width: 100%;

  &:hover {
    background-color: #b3b3cb;
    cursor: pointer;
  }
}

.popup {
  background-color: $event-item-color;
  padding: 5px;
}

.description {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#test-button {
  position: absolute;
  top: 10px;
}

// Filter Container
#filter-container {
  height: 20%;
  width: 80%;
  float: left;
  display: block;
  padding: 0 25px;

  #filter-btn {
    display: inline-block;
    background-color: orange;
    float: right;
  }
}
.date-filter, .time-filter {
  @include flex-space-around;
}

// Add Event Dialog
#add-event {
  border: 5px solid black;
  height: 80%;
  width: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: white;
  padding: 30px;
  border-radius: 50px;
}

#close-button {
  position: absolute;
  right: 20px;
  top: 5px;
  &:hover {
    color: #DC143C;
    cursor: pointer;
  }
}

.add-event-text {
  width: 50%;
  vertical-align: middle;
  height: 30px;
}

.add-event-loc-string {
  width: 150px;
}

.add-event-error-message {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  height: 30px;
}
.add-event-btns {
  display: inline-block;
  width: 100%;
}
.add-event-btn {
  background-color: $green;
}

.back-btn {
  float: left;
}

.nxt-btn {
  float: right;
}

.invalid-nxt-btn {
  background-color: $light-grey;
}

.page-slider {
  @include flex-space-around;
}

// Generic Classes
.hidden {
  display: none;
}

.error-msg {
  color: red;
}

.error-box {
  border-color: red;
}

.popup {
  color: white;
  background-color: $green;
  width: 20%;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 5px;
  &:hover {
    color: #DC143C;
    cursor: pointer;
  }
}