$green: #008000;
$event-item-color: #d1d1e0;
$light-grey: #d1d1e0;
$K_SIZE: 40px;
$red: #f44336;
$blue: #3f51b5;

// Imports
@import "../node_modules/react-datetime/css/react-datetime.css";
@import "../node_modules/rc-slider/assets/index.css";

// Mixins
@mixin event-style {
  position: absolute;
  width: $K_SIZE;
  height: $K_SIZE;
  left: -$K_SIZE / 2;
  top: -$K_SIZE / 2;

  border-radius: $K_SIZE;
  background-color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 4px;
  cursor: pointer;
}

@mixin flex-box {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
}

@mixin flex-space-around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  @include flex-box;
}

html, body {
  font-family: 'Old Standard TT', 'Times New Roman', Times, serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#main, .app-container {
  height: inherit;
}

.hidden{
  display: none;
}

#nav-bar {
  background-color: $green;
  color: white;
  font-size: 30pt;
  height: 10%;
  padding-left: 10px;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: white;

  // This is (currently) the dartmap logo in the nav bar
  h1 {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 8px;
  }

  // This is (currently) the add event button
  button {
    float: right;
    height: 100%;
  }
}

// This is the div that encompasses everything that is not in the navigation bar
.home-container {
  height: 90%;
}

#map {
  float: left;
}

// .mapImage {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   // cursor: url(../images/cursor.png) 15 15, pointer;
// }

.event {
  border: 5px solid $red;
  color: $blue;
  @include event-style;

  &:focus {
    outline: none;
  }
}

.event-hover {
  border: 5px solid $blue;
  color: $red;
  @include event-style;

  &:focus {
    outline: none;
  }
}

#event-menu {
  float: right;
  width: 20%;
  height: 100%;
  overflow: scroll;

  .location-not-selected {
    display: none;
  }
}

#event-banner {
  border-bottom: thin solid black;
   .event-banner-item {
    float: left;
    padding-left: 16px;
  }
}

.event-item {
  background-color: $event-item-color;
  border-bottom: thin solid black;
  height: 90px;
  padding-left: 8px;
  padding-top: 8px;
  width: 100%;
  font-size: 15px;

  &:hover {
    background-color: #b3b3cb;
    cursor: pointer;
  }
}

.popup {
  background-color: $event-item-color;
  padding: 5px;
}

#test-button {
  position: absolute;
  top: 10px;
}

#filter-container {
  width: 80%;
  float: left;
  display: block;
  padding: 0 25px;

  #filter-btn {
    display: inline-block;
    background-color: orange;
    float: right;
  }
}

#add-event {
  border: 10px solid black;
  height: 80%;
  width: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: white;
  padding: 30px;
  border-radius: 50px;
  .addEventForm input, .addEventForm textarea {
    padding-bottom: 30px;
    width: 50%;

  }
  .formBoxError {
    border-color: red;
  }
  .errorMessage {
    color: red;
    display: inline-block;
  }
  .invalidNextBtn {
    background-color: $light-grey;
  }
  .validNextBtn {
    background-color: $green;
  }
  #close-button {
    position: absolute;
    right: 20px;
    top: 5px;
    &:hover {
      color: #DC143C;
      cursor: pointer;
    }
  }
}

.date-filter {
  @include flex-space-around;
}

.time-filter {
  @include flex-space-around;
}

.page-slider {
  @include flex-space-around;
}

.description {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date-display {
  background-color: $green;
  color: white;
  position: relative;
  text-align: center;
}

.name {
  font-size: 13.1pt;
}
